@mixin fontTitleTryAgain {
  color: #dfe1ea;
  font-size: 70px;
  text-align: center;
}

.pageNotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;

  gap: 20px;

  &__title {
    @include fontTitleTryAgain();
  }

  &__tryAgain {
    @include fontTitleTryAgain();
  }
}
